* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0e056c;
    color: #c8afef;
    line-height: 1.6;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10%;
    position: sticky;
    top: 0;

    background-color: rgb(40, 4, 59);
    border-bottom: 1px solid #ddd;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #f8f8f8;
}

.nav-links a:hover {
    color: #7a6ff0;
}

/* HERO */

.hero {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 10%;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero p {
    max-width: 600px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

button {
    width: fit-content;

    padding: 12px 24px;

    border: none;
    border-radius: 8px;

    background-color: #7a6ff0;
    color: white;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

.header {
    padding: 25px;
    margin: 20px 20px 20px 20px;
    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

    transition: 0.3s; 
}
/* SECTIONS */

section {
    padding: 100px 10%;
}

section h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

/* PROJECTS */


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);

    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
}

.project-card img {
    width: 570px;
    height: 350px;
    object-fit: cover;
}

.project-content {
    padding: 15px;
}

.project-title {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 10px;

    text-decoration: none;
    color: #222;
}

.project-title:hover {
    color: #7a6ff0;
}

.project-content p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}